<h3>2025</h3>
<table class="conference-table"><tbody>
<tr><td><b>J Skaza</b>, A Vashney, Z Wen, S Murlidaran, WY Wang, MP Eckstein, & M Beyeler (2025) <a href="/assets/posters/vss_2025_1.pdf">A Computational Virtual Patient Pipeline for Predicting Perceptual Capabilities with Visual Prostheses</a>, <em>Vision Sciences Society</em>, St. Pete Beach, FL, USA</td></tr>
<tr><td>Z Wen, <b>J Skaza</b>, S Murlidaran, WY Wang, & MP Eckstein (2025) <a href="/assets/posters/vss_2025_2.pdf">Foveated Multi-Modal Large Language Model Maps to Predict Time to Understand Scenes</a>, <em>Vision Sciences Society</em>, St. Pete Beach, FL, USA</td></tr>
<tr><td>S Murlidaran, Z Wen, <b>J Skaza</b>, & MP Eckstein (2025) <a href="/assets/posters/vss_2025_3.pdf">Scene Understanding Maps: Predicting Most Frequently Fixated Object during Scene Description with Multi-Modal Large Language Models</a>, <em>Vision Sciences Society</em>, St. Pete Beach, FL, USA</td></tr>
</tbody></table>
<h3>2024</h3>
<table class="conference-table"><tbody>
<tr><td><b>JS Skaza</b>, E Wong, A Matsliah, & BR Cowley (2024) <a href="/assets/posters/ccn_2024.pdf">Data-driven deep neural network models of visual processing in Drosophila</a>, <em>Cognitive Computational Neuroscience</em>, Boston, MA, USA</td></tr>
</tbody></table>
<p style="text-align: right; margin-top: 40px;"><small>Last updated <i>May 22, 2025</i></small></p>