<h3>2024</h3>
<table class="publication-table"><tbody>
<tr><td><b>JS Skaza</b>, E Wong, A Matsliah, BR Cowley (2024) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=NA&btnI=1&hl=en">Data-driven deep neural network models of visual processing in Drosophila</a>, Cognitive Computational Neuroscience</td></tr>
</tbody></table>
<h3>2019</h3>
<table class="publication-table"><tbody>
<tr><td>SE Mayer, JL Abelson, H Briggs, <b>J Skaza</b>, C Kirschbaum, T Stalder (2019) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=17183909290165407625&btnI=1&hl=en">How does hair cortisol assessment correspond to saliva measures and to lab-based probes of HPA axis regulatory function?</a>, Psychoneuroendocrinology, 107, 50-51</td></tr>
<tr><td>JL Abelson, B Sanchez, X Zhang, I Liberzon, H Briggs, <b>J Skaza</b> (2019) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=NA&btnI=1&hl=en">Does salivary cortisol reflect key regulatory control aspects HPA axis functioning in healthy humans?</a>, Psychoneuroendocrinology, 107, 50</td></tr>
<tr><td>JL Abelson, C Kirschbaum, J Herman, <b>J Skaza</b>, B Sanchez (2019) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=NA&btnI=1&hl=en">Daily diurnal salivary curves: Are they too noisy to be useful?</a>, Psychoneuroendocrinology, 107, 51</td></tr>
</tbody></table>
<h3>2018</h3>
<table class="publication-table"><tbody>
<tr><td>J Wang, I Fox, <b>J Skaza</b>, N Linck, S Singh, J Wiens (2018) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=2191869912856980872&btnI=1&hl=en">The advantage of doubling: a deep reinforcement learning approach to studying the double team in the NBA</a>, arXiv preprint arXiv:, :1803.02940</td></tr>
</tbody></table>
<h3>2017</h3>
<table class="publication-table"><tbody>
<tr><td><b>J Skaza</b>, B Blais (2017) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=7156400670262694752&btnI=1&hl=en">Modeling the infectiousness of Twitter hashtags</a>, Physica A: Statistical Mechanics and its Applications, 465, 289-296</td></tr>
</tbody></table>
<h3>2015</h3>
<table class="publication-table"><tbody>
<tr><td>L Beaudin, <b>J Skaza</b> (2015) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=12191513750693079542&btnI=1&hl=en">Measuring the total impact of demographic and behavioural factors on the risk of obesity accounting for the depression status: a structural model approach using new BMI</a>, Applied Economics, 47 (55), 6041-6053</td></tr>
<tr><td><b>JS Skaza</b> (2015) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=18339804600473828483&btnI=1&hl=en">Mathematical modeling of trending topics on twitter</a>, Bryant University</td></tr>
</tbody></table>
<h3>2014</h3>
<table class="publication-table"><tbody>
<tr><td><b>J Skaza</b> (2014) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=NA&btnI=1&hl=en">Socioeconomic Determinants of Obesity in the United States</a>, Empirical Economic Bulletin, An Undergraduate Journal, 7 (1), 2</td></tr>
</tbody></table>
<h3>2013</h3>
<table class="publication-table"><tbody>
<tr><td><b>J Skaza</b>, B Blais (2013) <a href="https://scholar.google.com/scholar?oi=bibs&cluster=12346599259172300263&btnI=1&hl=en">The relationship between economic growth and environmental degradation: exploring models and questioning the existence of an environmental Kuznets curve</a>, The Center for Global and Economic Studies at Bryant University Working Paper</td></tr>
</tbody></table>
<p style="text-align: right; margin-top: 40px;"><small>Last updated <i>March 27, 2025&ndash; Pulled automatically from my <a href="https://scholar.google.com/citations?hl=en&user=dAAMOqgAAAAJ">Google Scholar profile</a>.
