<h3>2025</h3>
<table class="publication-table"><tbody>
<tr><td>Z Wen, <b>J Skaza</b>, S Murlidaran, WY Wang, MP Eckstein (2025) <a href="https://arxiv.org/abs/2505.12660">Predicting Reaction Time to Comprehend Scenes with Foveated Scene Understanding Maps</a>, <em>arXiv preprint arXiv:2505.12660</em></td></tr>
</tbody></table>
<h3>2024</h3>
<table class="publication-table"><tbody>
<tr><td><b>JS Skaza</b>, E Wong, A Matsliah, BR Cowley (2024) <a href="https://scholar.google.com/citations?view_op=view_citation&citation_for_view=dAAMOqgAAAAJ:W7OEmFMy1HYC">Data-driven deep neural network models of visual processing in Drosophila</a>, <em>Cognitive Computational Neuroscience</em></td></tr>
</tbody></table>
<h3>2019</h3>
<table class="publication-table"><tbody>
<tr><td>SE Mayer, JL Abelson, H Briggs, <b>J Skaza</b>, C Kirschbaum, T Stalder (2019) <a href="https://scholar.google.com/scholar?cluster=17183909290165407625&hl=en&oi=scholarr">How does hair cortisol assessment correspond to saliva measures and to lab-based probes of HPA axis regulatory function?</a>, <em>Psychoneuroendocrinology</em></td></tr>
<tr><td>JL Abelson, B Sanchez, X Zhang, I Liberzon, H Briggs, <b>J Skaza</b> (2019) <a href="https://scholar.google.com/scholar?cluster=18302517099009867821&hl=en&oi=scholarr">Does salivary cortisol reflect key regulatory control aspects HPA axis functioning in healthy humans?</a>, <em>Psychoneuroendocrinology</em></td></tr>
<tr><td>JL Abelson, C Kirschbaum, J Herman, <b>J Skaza</b>, B Sanchez (2019) <a href="https://scholar.google.com/scholar?cluster=4982104590688825322&hl=en&oi=scholarr">Daily diurnal salivary curves: Are they too noisy to be useful?</a>, <em>Psychoneuroendocrinology</em></td></tr>
</tbody></table>
<h3>2018</h3>
<table class="publication-table"><tbody>
<tr><td>J Wang, I Fox, <b>J Skaza</b>, N Linck, S Singh, J Wiens (2018) <a href="https://arxiv.org/abs/1803.02940">The advantage of doubling: a deep reinforcement learning approach to studying the double team in the NBA</a>, <em>arXiv preprint arXiv:1803.02940</em></td></tr>
</tbody></table>
<h3>2017</h3>
<table class="publication-table"><tbody>
<tr><td><b>J Skaza</b>, B Blais (2017) <a href="https://www.sciencedirect.com/science/article/pii/S0378437116305556">Modeling the infectiousness of Twitter hashtags</a>, <em>Physica A: Statistical Mechanics and its Applications</em></td></tr>
</tbody></table>
<h3>2015</h3>
<table class="publication-table"><tbody>
<tr><td>L Beaudin, <b>J Skaza</b> (2015) <a href="https://www.tandfonline.com/doi/abs/10.1080/00036846.2015.1061648">Measuring the total impact of demographic and behavioural factors on the risk of obesity accounting for the depression status: a structural model approach using new BMI</a>, <em>Applied Economics</em></td></tr>
<tr><td><b>JS Skaza</b> (2015) <a href="https://digitalcommons.bryant.edu/honors_mathematics/20/">Mathematical modeling of trending topics on twitter</a></td></tr>
</tbody></table>
<h3>2014</h3>
<table class="publication-table"><tbody>
<tr><td><b>J Skaza</b> (2014) <a href="https://digitalcommons.bryant.edu/eeb/vol7/iss1/2/">Socioeconomic Determinants of Obesity in the United States</a>, <em>Empirical Economic Bulletin, An Undergraduate Journal</em></td></tr>
</tbody></table>
<h3>2013</h3>
<table class="publication-table"><tbody>
<tr><td><b>J Skaza</b>, B Blais (2013) <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2346173">The relationship between economic growth and environmental degradation: exploring models and questioning the existence of an environmental Kuznets curve</a>, <em>The Center for Global and Economic Studies at Bryant University Working Paper</em></td></tr>
</tbody></table>
<p style="text-align: right; margin-top: 40px;"><small>Last updated <i>May 22, 2025&ndash; Pulled automatically from my <a href="https://scholar.google.com/citations?hl=en&user=dAAMOqgAAAAJ">Google Scholar profile</a>.</small></p>